# التبعيات (المجلد الأضخم الذي لا يُرفع أبداً)
node_modules/
jspm_packages/

# ملفات البيئة والبيانات السرية (مثل كلمات مرور قواعد البيانات)
.env
.env.test
.env.local

# ملفات سجلات الأخطاء
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# ملفات نظام التشغيل (غير ضرورية للمشروع)
.DS_Store
Thumbs.db

# مجلدات بناء المشروع (إذا كنت تستخدم TypeScript أو React مثلاً)
dist/
build/
out/

# ملفات التغطية الخاصة بالاختبارات
coverage/
.nyc_output/

# ملفات محررات الأكواد الخاصة بك
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj